@charset "utf-8";
body{
    background-image: url('background1.jpg');
}
.HeightText{

}
.MainDiv{
    box-shadow: 1px 1px 3px 3px #00ffee59;
    background-color: #ffffff;
    border-radius: var(--main-radius);
    height: 100000px;
}